body {
    font-family: 'Noto Serif Display', serif;
    text-align: center;
}

  .main-header {
    color:rgb(164, 74, 143);  
    font-size: 100px; 
    padding: 10px 10px; 
    align-items: center;
    justify-content: center;
  }

  .baby {
    background-color: pink;
    display: flex; 
    flex-direction: column; 
    border: 10px solid rgb(164, 74, 143);
    border-radius: 25px;
    padding: 30px;
    justify-content: center; 
    align-items: center;
    margin: 100px; 
  }
  
